body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    margin-top: 20%;
    width: 500px;
    height: 200px;
    background-color: rgb(103, 148, 103);
    border: 2px solid rgb(80, 128, 80);
    border-radius: 2%;
}
.search_bar, .submit_btn{
    padding: 25px;
}
.search_bar input{
    width: 300px;
}
